.div-client{
	background-color: transparent;
	width: 80%;
	margin-top: 29vh;
	margin-left: 10%;
	min-height: 75vh;
}
h2{
	font-size: 25px;
	text-align: center;
}
.form-recherche{
	margin-top: 50px;
	width: 60%;
	margin-left: 20%;
	height: 35px;
	display: flex;
	flex-direction: row-reverse;
}
.form_rech{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.input{
	padding: 7px;
	width: 80%;
	height: 40px;
	margin-top: -3px;
	border: 1px solid #d4d4d4;
}
.clients{
	width: 100%;
	margin-top: 30px;
}
table{
	width: 60%;
	margin-left: 20%;
}
th{
	border: 1px solid #d4d4d4;
	padding: 5px;
	text-align: center;
}
td{
	border: 1px solid #d4d4d4;
	padding: 4px;
	text-align: center;
}
.oeil{
	margin-top: 7px;
}




@media only screen and (max-width: 480px)
{
	.div-client{
		width: 90%;
		margin-top: 18vh;
		margin-left: 5%;
		min-height: 75vh;
	}
	h2{
		font-size: 20px;
		text-align: center;
	}
	.form-recherche{
		margin-top: 20px;
		width: 100%;
		margin-left: 0%;
		height: 35px;
		display: flex;
		flex-direction: row-reverse;
	}
	.form_rech{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.input{
		padding: 5px;
		font-size: 11px;
		width: 80%;
		height: 37px;
		margin-top: 0px;
		border: 1px solid #d4d4d4;
	}
	.clients{
		width: 100%;
		margin-top: 15px;
	}
	table{
		width: 100%;
		margin-left: 0%;
		font-size: 11px;
	}
	th{
		border: 1px solid #d4d4d4;
		padding: 5px;
		text-align: center;
	}
	td{
		border: 1px solid #d4d4d4;
		padding: 4px;
		text-align: center;
	}
	.oeil{
		margin-top: 7px;
	}
}



@media only screen and (max-width: 800px)
{
	.div-client{
		background-color: transparent;
		width: 80%;
		margin-top: 27vh;
		margin-left: 10%;
		min-height: 75vh;
	}
	h2{
		font-size: 25px;
		text-align: center;
	}
	.form-recherche{
		margin-top: 50px;
		width: 80%;
		margin-left: 20%;
		height: 35px;
		display: flex;
		flex-direction: row-reverse;
	}
	.form_rech{
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.input{
		padding: 7px;
		width: 80%;
		height: 40px;
		margin-top: -3px;
		border: 1px solid #d4d4d4;
	}
	.clients{
		width: 100%;
		margin-top: 30px;
	}
	table{
		width: 60%;
		margin-left: 20%;
	}
	th{
		border: 1px solid #d4d4d4;
		padding: 5px;
		text-align: center;
	}
	td{
		border: 1px solid #d4d4d4;
		padding: 4px;
		text-align: center;
	}
	.oeil{
		margin-top: 7px;
	}
}