.div-client{
	background-color: transparent;
	width: 80%;
	margin-top: 25vh;
	margin-left: 10%;
	min-height: 75vh;
}
h2{
	font-size: 25px;
	text-align: center;
}
.form-recherche{
	margin-top: 50px;
	width: 60%;
	margin-left: 20%;
	height: 35px;
	display: flex;
	flex-direction: row-reverse;
}
.form_rech{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.input{
	padding: 7px;
	width: 80%;
	height: 40px;
	margin-top: -3px;
	border: 1px solid #d4d4d4;
}
.input::hover{
	padding: 7px;
	width: 80%;
	height: 40px;
	margin-top: -3px;
	border: 1px solid #d4d4d4;
}
.clients{
	width: 100%;
	height: 500px;
	margin-top: 30px;
}
table{
	width: 60%;
	margin-left: 20%;
}
th{
	border: 1px solid #d4d4d4;
	padding: 5px;
	text-align: center;
}
td{
	border: 1px solid #d4d4d4;
	padding: 4px;
	text-align: center;
}
.oeil{
	margin-top: 7px;
}