.footer{
	background-color: #041e7f;
	width: 100%;
	margin-left: 0%;
	height: 700px;
	margin-top: 100px;
	margin-bottom: 0px;
	padding-top: 100px;
}
.footer-1{
	width: 80%;
	margin-left: 10%;
	height: 85%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer-2{
	background-color: #000;
	width: 100%;
	height: 15%;
	padding-top: 30px;
	text-align: center;
	color: #d4d4d4;
}
.chemin{
	display: none;
}
#copy{
	color: #d4d4d4;
	margin-top: 35px;
}
.div-1{
	width: 50%;
	margin-left: 0px;
}
h3{
	color: #d4d4d4;
	font-size: 20px;
	text-align: center;
}
.form{
	width: 80%;
	margin-left: 10%;
}

.input{
	background-color: transparent;
	color: #d4d4d4;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid blue;
	border-radius: 10px;
}.input:hover{
	background-color: transparent;
	color: #d4d4d4;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
}
.message{
	background-color: transparent;
	max-width: 100%;
	min-width: 100%;
	color: #d4d4d4;
	max-height: 150px;
	min-height: 150px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid blue;
	border-radius: 10px;
}
.message:hover{
	background-color: transparent;
	max-width: 100%;
	min-width: 100%;
	color: #d4d4d4;
	max-height: 150px;
	min-height: 150px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
}
.message_auth{
	background-color: transparent;
	width: 100%;
	color: #fff;
	height: 100px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
}
.boutton-footer{
	background-color: transparent;
	margin-top: 7px;
	width: 115px;
	float: right;
	padding: 5px;
	color: blue;
	border-radius: 10px;
	border: 1px solid blue;
}
.boutton-footer:hover{
	background-color: #fff;
	margin-top: 7px;
	width: 115px;
	float: right;
	padding: 5px;
	color: #000;
	border-radius: 10px;
	border: 1px solid blue;
}
.div-2{
	border-left: 1px solid #000;
	width: 50%;
}
.div-2-2{
	width: 70%;
	height: 60%;
	margin-left: 22.5%;
}
.rx{
	font-size: 35px;
	width: 100%;
	height: 21%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.rx-1{
	padding-top: 15px;
	width: 20%;
	height: 50px;
}
.rx-2{
	color: #d4d4d4;
	width: 80%;
	margin-top: 20px;
	font-family: sans-serif;
	font-size: 15px;
}
#facebook
{
	color: #3b5998;
}
#instagram
{
	color: #cd486b;
}
#twitter
{
	color: #00aced;
}
#whatsapp
{
	color: #25d366;
}
#tiktok
{
	color: ;
}
.message-footer{
	border: 1px solid green;
	width: 80%;
	margin-left: 10%;
	padding: 5px;
	color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}



@media  only screen and (max-width: 996px)
{
	.footer{
		background-color: #051959;
		width: 80%;
		margin-left: 10%;
		height: 700px;
		margin-top: 100px;
		margin-bottom: 0px;
	}
	.footer-1{
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.footer-2{
		background-color: #000;
		width: 100%;
		height: 40%;
		padding-top: 30px;
		text-align: center;
		color: #d4d4d4;
	}
	#copy{
		color: #d4d4d4;
		margin-top: 35px;
	}
	.div-1{
		width: 50%;
		height: 100%;
	}
	h3{
		font-size: 20px;
		text-align: center;
	}
	.form{
		width: 80%;
		margin-left: 10%;
	}
	.input{
		background-color: transparent;
		color: #fff;
		width: 100%;
		font-size: 12px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	.message{
		background-color: transparent;
		width: 100%;
		height: 120px;
		font-size: 12px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	.boutton-footer{
		background-color: transparent;
		margin-top: 7px;
		width: 115px;
		float: right;
		padding: 3px;
		color: #000;
		border-radius: 10px;
		border: 1px solid #d4d4d4;
	}
	.boutton-footer:hover{
		background-color: #d4d4d4;
		margin-top: 7px;
		width: 115px;
		float: right;
		padding: 3px;
		color: #000;
		border-radius: 10px;
		border: 1px solid transparent;
	}
	.div-2{
		border-left: 1px solid #d4d4d4;
		width: 50%;
	}
	.div-2-2{
		width: 55%;
		height: 60%;
		margin-left: 22.5%;
	}
	.rx{
		font-size: 35px;
		width: 100%;
		height: 21%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.rx-1{
		padding-top: 15px;
	}
	.rx-2{
		margin-top: 0px;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}



@media  only screen and (max-width: 796px)
{
	.footer{
		background-color: #051959;
		width: 100%;
		margin-left: 0%;
		height: 500px;
		margin-top: 100px;
		margin-bottom: 0px;
		padding-top: 40px;
	}
	.footer-1{
		width: 80%;
		margin-left: 10%;
		height: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.footer-2{
		background-color: #000;
		width: 100%;
		height: 20%;
		padding-top: 30px;
		text-align: center;
		color: #d4d4d4;
	}
	#copy{
		color: #d4d4d4;
		margin-top: 35px;
	}
	.div-1{
		width: 50%;
		height: 100%;
		margin-top: 20px;
		margin-left: 0%;
	}
	h3{
		font-size: 16px;
		text-align: center;
	}
	.form{
		width: 90%;
		margin-left: 5%;
	}
	.input{
		background-color: transparent;
		color: #fff;
		width: 100%;
		font-size: 12px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	.message{
		background-color: transparent;
		width: 100%;
		height: 120px;
		font-size: 12px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	input::placeholder{
		color: red;
	}
	input:placeholder-shown {
	    color: green;
	 }
	.boutton-footer{
		background-color: transparent;
		margin-top: 7px;
		width: 115px;
		float: right;
		padding: 3px;
		color: #fff;
		border-radius: 10px;
		border: 1px solid #d4d4d4;
	}
	.boutton-footer:hover{
		background-color: #fff;
		margin-top: 7px;
		width: 115px;
		float: right;
		padding: 3px;
		color: #000;
		border-radius: 10px;
		border: 1px solid transparent;
	}
	.div-2{
		border-left: 1px solid #d4d4d4;
		width: 50%;
		margin-top: 20px;
	}
	.div-2-2{
		width: 80%;
		height: 60%;
		margin-top: 50px;
		margin-left: 22.5%;
	}
	.rx{
		font-size: 25px;
		width: 100%;
		height: 21%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.rx-1{
		padding-top: 15px;
		width: 25%;
		height: 50px;
	}
	.rx-2{
		margin-top: 6px;
		font-family: sans-serif;
		font-size: 12px;
		width: 75%;
		height: 50px;
		padding-left: 15px;
		display: flex;
		flex-direction: row;
	}
}



@media only screen and (max-width: 500px)
{
	.footer{
		background-color: #041e7f;
		width: 100%;
		height: 830px;
		margin-bottom: 0px;
		margin-top: 15px;
		padding-top: 40px;
	}
	.footer-1{
		margin-top: 5px;
		width: 90%;
		margin-left: 5%;
		height: 90%;
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.footer-2{
		background-color: #000;
		width: 100%;
		height: 10%;
		padding-top: 30px;
		text-align: center;
		color: #d4d4d4;
	}
	.div-1{
		width: 100%;
		height: 60%;
	}
	.div-2{
		border-left: 0px solid #d4d4d4;
		margin-top: 0px;
		width: 100%;
		height: 40%;
	}
	#copy{
		color: #d4d4d4;
		margin-top: 5px;
		font-size: 10px;
	}
	.div-1{
		width: 100%;
		height: 60%;
	}
	h3{
		color: #d4d4d4;
		margin-top: 15px;
		font-size: 16px;
		text-align: center;
	}
	.form{
		width: 100%;
		height: 350px;
		margin-left: 0%;
	}
	.input{
		width: 100%;
		height: 40px;
		padding: 5px;
		font-size: 11px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 7px;
	}
	.message{
		background-color: transparent;
		width: 100%;
		color: #d4d4d4;
		height: 120px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	.message_auth{
		background-color: red;
		width: 100%;
		color: #d4d4d4;
		height: 250px;
		padding: 5px;
		margin-top: 10px;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
	}
	.boutton-footer{
		background-color: transparent;
		color: #d4d4d4;
		margin-top: 7px;
		width: 80px;
		float: right;
		font-size: 11px;
		padding: 3px;
		color: #fff;
		border-radius: 10px;
		border: 1px solid #d4d4d4;
	}
	.boutton-footer:hover{
		background-color: #d4d4d4;
		color: #d4d4d4;
		margin-top: 7px;
		width: 80px;
		font-size: 11px;
		float: right;
		padding: 3px;
		color: #000;
		border-radius: 10px;
		border: 1px solid blue;
	}
	.div-2-2{
		width: 90%;
		margin-left: 5%;
		height: 80%;
	}
	.rx{
		font-size: 22px;
		width: 100%;
		height: 21%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.rx-1{
		padding-top: 16px;
	}
	.rx-2{
		color: #d4d4d4;
		font-family: sans-serif;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}