body{
	font-family: sans-serif;
}
.body-mp-oublier{
	position: absolute;
	width: 90%;
	height: 90vh;
	top: 5%;
	left: 5%;
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form{
	background-color: #d4d4d4;
	padding-top: 10px;
	width: 400px;
	height: 300px;
}
.paragraph{
	width: 90%;
	margin-left: 5%;
	font-family: sans-serif;
	text-align: justify;
}
.inputs{
	width: 90%;
	height: 50%;
	margin-left: 5%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.div-password{
	background-color: teal;
	margin-top: 20px;
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
}
.input{
	width: 90%;
	padding: 15px;
	border: 1px solid transparent;
}
.icone{
	background-color: #fff;
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.input:hover{
	width: 90.5%;
	padding: 15px;
	border: 1px solid #d4d4d4;
}
.boutton{
	color: #fff;
	background-color: #0a0a4b;
	padding: 12px;
	border: 1px solid #0a0a4b;
}