@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.single_product_thumbnails ul li
	{
		height: 110px;
	}
	.single_product_image
	{
		height: 436px;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.infos{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.input{
		width: 100%;
		height: 80%;
		margin-top: -10px;
		padding: 3%;
	}
	#heure_livraison{
		width: 100%;
		padding-left: 2%;
	}


	h1{font-size: 48px;}
	h2{font-size: 36px;}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
		display: block;
	}
	.single_product_container
	{
		margin-top: 100px;
	}
	.main_content
	{
		float: none;
		width: 100%;
		padding-left: 0px;
	}
	.image_col
	{
		padding-right: 15px;
	}
	.single_product_image
	{
		margin-bottom: 15px;
		height: 785px;
	}
	.single_product_thumbnails
	{
		height: auto;
	}
	.single_product_thumbnails ul li
	{
		display: inline-block;
		width: 110px;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.single_product_thumbnails ul li img
	{
		height: 100%;
	}
	.product_details
	{
		margin-top: 71px;
	}
	.reviews_col
	{
		padding-right: 15px;
	}
	.benefit_col
	{
		margin-bottom: 30px;
	}
	.benefit_col:last-child
	{
		margin-bottom: 0px;
	}
	.newsletter_text
	{
		height: auto;
		margin-top: 30px;
	}
	.newsletter_text p
	{
		margin-top: 5px;
	}
	.newsletter_form
	{
		height: auto;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.footer_nav_container
	{
		height: auto;
		margin-top: 65px;
	}
	.footer_social
	{
		height: auto;
		margin-top: 20px;
		margin-bottom: 65px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.red_button a
	{
		font-size: 12px;
	}
	.tab_title
	{
		margin-bottom: 78px;
	}
	.tab_text_block
	{
		margin-bottom: 113px;
	}
	.tab_image
	{
		margin-bottom: 111px;
	}
	.single_product_image
	{
		height: 576px;
	}
	.benefit_col
	{
		margin-bottom: 15px;
	}
	.newsletter_form
	{
		margin-bottom: 40px;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
	.desc_last
	{
		margin-bottom: 0px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.panier-vide{
		font-size: 13px;
		width: 100%;
		height: 100vh;
		margin-top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.input{
		width: 100%;
		height: 80%;
		margin-top: -10px;
		padding: 3%;
	}
	#heure_livraison{
		width: 100%;
		padding-left: 2%;
	}
	#btn-aj{
		width: 30%;
		font-size: 12px;
	}

	p
	{
		font-size: 13px;
	}
	.hamburger_menu
	{
		right: -100%;
		width: 100%;
	}
	.single_product_image
	{
		height: calc((100vw - 30px) / 0.86);
	}
	.single_product_thumbnails ul li
	{
		width: 80px;
		height: 80px;
	}
	.single_product_thumbnails ul li img
	{
		height: auto;
		width: 100%;
	}
	.breadcrumbs ul li
	{
		margin-right: 10px;
	}
	.breadcrumbs ul li a
	{
		font-size: 13px;
	}
	.breadcrumbs ul li i
	{
		margin-right: 12px;
	}
	.quantity
	{
		height: auto;
	}
	.quantity_selector
	{
		height: 40px;
		margin-left: 0px;
		margin-top: 15px;
	}
	.add_to_cart_button
	{
		margin-left: 0px;
		margin-top: 15px;
	}
	.product_favorite
	{
		margin-left: 0px;
		margin-top: 15px;
		height: 40px;
	}
	.tab
	{
		margin-right: 30px;
	}
	.tab span
	{
		font-size: 14px;
	}
	.tab_title h4
	{
		font-size: 20px;
	}
	.review
	{
		padding-left: 0px;
	}
	.review_date
	{
		margin-top: 15px;
	}
	.add_review
	{
		margin-top: 44px;
	}
	.user_rating .star_rating
	{
		margin-left: 0px;
		margin-top: 7px;
	}
	.cr
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_nav li
	{
		display: block;
		margin-right: 0px;
	}
	.footer_nav li a
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (min-width: 301px) and (max-width: 500px)
{
	/* DIV INFOS */
	.panier-vide{
		font-size: 13px;
		width: 100%;
		height: 100vh;
		margin-top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.div-infos-commande{
		width: 80%;
		height: 300px;
		margin-left: 10%;
		margin-top: 25px;
		padding-top: 25px;
		border-top: 1px solid #d4d4d4;
	}
	.h2-info{
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	.h2{
		font-size: 25px;
		text-align: center;
		margin-bottom: 25px;
	}
	.form{
		width: 100%;
		height: 100%;
		margin-left: 0%;
	}
	.infos-liv{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.infos-liv-1{
		width: 30%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos-liv-2{
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	input, select{
		width: 40%;
		padding: 5px;
		border: 1px solid transparent;
		border-bottom: 1px solid #d4d4d4;
	}
	.infos-1, .infos-comment-1{
		width: 30%;
		height: 100%;
		font-size: 15px;
		font-family: sans-serif;
	}
	.commentaire{
		margin-top: 25px;
		width: 100%;
		height: 105px;
		display: flex;
		flex-direction: row;
	}
	.commentaire-texte{
		width: 30%;
		height: 100%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.com{
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#commentaire{
		padding: 5px;
		max-width: 90%;
		max-height: 105px;
		min-width: 90%;
		min-height: 105px;
		border: 1px solid #d4d4d4;
	}
	.infos-button{
		width: 100%;
		margin-top: 25px;
		display: flex;
		flex-direction: row-reverse;
	}
	.boutton{
		background-color: #051959;
		color: #d4d4d4;
		padding: 8px;
		margin-right: 3%;
		border: 1px solid transparent;
	}


	.single_product_pics{
		margin-top: -20px;
	}
	#cadre-1{
		margin-top: 25px;
		border-bottom: 1.5px solid #d4d4d4;
	}
	#cadre-2{
		margin-top: 25px;
		border-bottom: 1.5px solid #d4d4d4;
	}
	.panier-vide{
		width: 100%;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.h3{
		font-size: 12px;
	}
	.single_product_container
	{
		margin-top: 0vh;
		padding-bottom: 80px;
		margin-bottom: 5px;
		border-bottom: solid 1px #ebebeb;
	}
	.single_product_thumbnails ul li
	{
		height: 100px;
		width: 22%;
		cursor: pointer;
	}
	.single_product_thumbnails ul li::after
	{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: solid 0px #1315b9;
		content: '';
		visibility: hidden;
	}
	.single_product_thumbnails ul li img
	{
		width: 100%;
		height: 100%;
	}
	.product_details
	{
		width: 80%;
		margin-left: 10%;
		margin-top: 15px;
		margin-bottom: 100px;
	}
	.product_details_title
	{
		font-weight: 500px;
		line-height: 30px;
	}
	.product_details_title p
	{
		font-size: 14px;
		margin-top: 0px;
		text-align: center;
	}
	.h2{
		text-transform: uppercase;
		font-family: sans-serif;
		text-align: center;
		font-size: 17px;
		margin-bottom: 5px;
	}
	.free_delivery
	{
		background: #1315b9;
		color: #fff;
		margin-top: 17px;
		font-size: 14px;
	}
	.free_delivery i
	{
		display: inline-block;
	}
	.free_delivery span:last-child
	{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		font-size: 13px;
		text-transform: uppercase;
	}
	.free_delivery span:first-child
	{
		display: inline-block;
		margin-right: 19px;
		font-size: 13px;
		-webkit-transform: translateY(-1px);
		-moz-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		-o-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	.original_price
	{
		font-weight: 500;
		color: #000;
		text-decoration: line-through;
		line-height: 30px;
		margin-top: 0px;
	}
	.product_price
	{
		display: inline-block;
		font-size: 20px;
		text-align: center;
		color: #1315b9;
		font-weight: 500;
		line-height: 30px;
		margin-top: 2px;
	}

	/* DIV INFOS */
	.div-infos-commande{
		width: 80%;
		margin-left: 10%;
		margin-top: -50px;
	}
	.h2-info{
		font-family: sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
	}
	.infod-liv{
		display: flex;
		flex-direction: row;
	}
	.infos-liv-1{
		width: 70%;
		margin-left: 15%;
		font-size: 11px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos-liv-2{
		width: 100%;
	}
	.div-input{
		text-transform: lowercase;
		width: 100%;
		font-size: 10px;
		padding: 3px;
		margin-top: 2px;
		display: flex;
		flex-direction: column;
	}
	.input-form{
		background-color: #fff;
		color: #000;
		font-size: 10px;
		padding: 3px;
		width: 100%;
		border: 1px solid transparent;
		border-bottom: 1px solid #d4d4d4;
	}
	.infos-1{
		width: 30%;
		height: 100%;
		font-size: 11.5px;
		font-family: sans-serif;
	}
	.commentaire{
		width: 100%;
		height: 100px;
	}
	.text{
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		font-size: 11px;
		padding: 3%;
		border-radius: 7px;
		border: 1px solid #d4d4d4;
		color: #000;
	}
	.infos-button{
		width: 100%;
		margin-top: 10px;
		display: flex;
		flex-direction: row-reverse;
	}


	.div-infos{
		background-color: transparent;
		position: relative;
		width: 100%;
		padding-top: 10px;
	}
	.infos{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.input{
		width: 100%;
		height: 80%;
		margin-top: -10px;
	}
	.infos-boutton{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.infos-1, .infos-comment-1{
		color: #000;
		width: 60%;
		height: 100%;
		font-family: sans-serif;
	}
	.infos-2{
		color: #000;
		width: 40%;
		height: 100%;
	}
	.p-prix{
		color: #000;
		float: right;
		font-family: sans-serif;
	}
	input{
		color: #000;
		font-size: 8px;
	}
	.com{
		font-size: 10px;
	}
	.btn{
		font-size: 9px;
		color: #fff;
		border: 1px solid #1315b9;
		background-color: #1315b9;
	}
	.input{
		width: 100%;
		height: 80%;
		margin-top: -10px;
	}
	#input{
		width: 100%;
		font-size: 9px;
		padding: 5px;
		height: 80%;
		border: 0.5px solid rgb(185, 179, 167);
	}
	.date_heure{
		font-size: 10px;
		width: 55%;
		padding: 2px;
		height: 80%;
		border: 0.5px solid rgb(185, 179, 167);
	}
	#heure_livraison{
		font-size: 10px;
		height: 80%;
		width: 100%;
		padding: 5px;
	}
	.comment{
		width: 100%;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.infos-comment-1{
		width: 30%;
	}
	.infos-comment-2{
		width: 70%;
	}
	textarea{
		height: 100px;
		max-height: 100px;
		min-height: 100px;
	}
	.div-buttun{
		background-color: transparent;
		width: 100%;
		height: 60px;
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.boutton{
		font-size: 5px;
	}
	.id_article{
		display: none;
	}





	.single_product_image
	{
		width: 100%;
		height: 150px;
	}
	.image-principale{
		width: 100%;
		height: 100%;
	}
	.single_product_thumbnails ul li
	{
		height: 60px;
		width: 25%;
		cursor: pointer;
	}
	.tete{
		display: none;
	}
	.breadcrumbs
	{
		width: 100%;
		height: 60px;
		border-bottom: solid 1px #ebebeb;
		margin-bottom: 79px;
	}
	.breadcrumbs ul li
	{
		display: none;
	}
	.breadcrumbs ul li.active a
	{
		color: #b9b4c7;
	}
	.breadcrumbs ul li i
	{
		margin-right: 17px;
	}
	.breadcrumbs ul li a
	{
		color: #51545f;
	}

	h2{
		font-size: 30px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
	.newsletter_form
	{
		margin-top: 22px;
	}
	.newsletter_text h4
	{
		font-size: 20px;
	}
	.newsletter_text p
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.newsletter_submit_btn
	{
		font-size: 12px;
	}
	#newsletter_email
	{
		height: 40px;
		width: 100%;
		padding-left: 15px;
	}
	.newsletter_submit_btn
	{
		height: 36px;
		width: 130px;
	}
	#newsletter_email::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	#newsletter_email:-moz-placeholder /* older Firefox*/
	{
		font-size: 12px !important;
	}
	#newsletter_email::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 12px !important;
	} 
	#newsletter_email:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	#newsletter_email::input-placeholder
	{
		font-size: 12px !important;
	}
	.review_submit_btn,
	.add_to_cart_button
	{
		font-size: 12px;
		width: 130px;
		height: 36px;
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 300px)
{
	/* DIV INFOS */

	/* DIV INFOS */
	.div-infos-commande{
		width: 80%;
		height: 300px;
		margin-left: 10%;
		margin-top: 25px;
		padding-top: 25px;
		border-top: 1px solid #d4d4d4;
	}
	.h2-info{
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	.h2{
		color: green;
		font-size: 25px;
		text-align: center;
		margin-bottom: 25px;
	}
	.form{
		width: 100%;
		height: 100%;
		margin-left: 0%;
	}
	.infos-liv{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.infos-liv-1{
		width: 30%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos-liv-2{
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	input, select{
		width: 40%;
		padding: 5px;
		border: 1px solid transparent;
		border-bottom: 1px solid #d4d4d4;
	}
	.infos-1, .infos-comment-1{
		width: 30%;
		height: 100%;
		font-size: 15px;
		font-family: sans-serif;
	}
	.commentaire{
		margin-top: 25px;
		width: 100%;
		height: 105px;
		display: flex;
		flex-direction: row;
	}
	.commentaire-texte{
		width: 30%;
		height: 100%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.com{
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#commentaire{
		padding: 5px;
		max-width: 90%;
		max-height: 105px;
		min-width: 90%;
		min-height: 105px;
		border: 1px solid #d4d4d4;
	}
	.infos-button{
		width: 100%;
		margin-top: 25px;
		display: flex;
		flex-direction: row-reverse;
	}
	.boutton{
		background-color: #051959;
		color: #d4d4d4;
		padding: 8px;
		margin-right: 3%;
		border: 1px solid transparent;
	}


	.div-infos{
		background-color: transparent;
		position: relative;
		width: 100%;
		padding-top: 10px;
	}
	.infos{
		width: 100%;
		height: 35px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.infos-1, .infos-comment-1{
		width: 30%;
		height: 100%;
		font-family: sans-serif;
	}
	.infos-2{
		width: 70%;
		height: 100%;
	}
	.p-prix{
		color: #000;
		float: right;
		font-family: sans-serif;
	}
	.infos-boutton{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	input{
		color: #000;
	}
	.btn{
		color: #fff;
		background-color: #1315b9;
	}
	.input{
		width: 100%;
		height: 35px;
		border: 0.5px solid rgb(185, 179, 167);
	}
	.date_heure{
		width: 45%;
		height: 100%;
		border: 0.5px solid rgb(185, 179, 167);
	}
	.div-buttun{
		background-color: transparent;
		width: 100%;
		height: 60px;
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.id_article{
		display: none;
	}


	.panier-vide{
		font-size: 13px;
		width: 100%;
		height: 100vh;
		margin-top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.div-infos-commande{
		width: 90%;
		height: 350px;
		margin-left: 5%;
		margin-top: 25px;
		padding-top: 25px;
		border-top: 1px solid #d4d4d4;
	}
	.h2-info{
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	.h2{
		font-size: 25px;
		text-align: center;
		margin-bottom: 25px;
	}
	.form{
		width: 100%;
		height: 100%;
		margin-left: 0%;
	}
	.infos-liv{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.infos-liv-1{
		width: 30%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos-liv-2{
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	input, select{
		width: 40%;
		padding: 5px;
		border: 1px solid transparent;
		border-bottom: 1px solid #d4d4d4;
	}
	.infos-1, .infos-comment-1{
		width: 30%;
		height: 100%;
		font-size: 15px;
		font-family: sans-serif;
	}
	.commentaire{
		margin-top: 25px;
		width: 100%;
		height: 105px;
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
	}
	.commentaire-texte{
		width: 100%;
		height: 100%;
		font-family: sans-serif;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.com{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#commentaire{
		padding: 5px;
		max-width: 100%;
		max-height: 10px;
		min-width: 90%;
		min-height: 105px;
		border: 1px solid #d4d4d4;
	}
	.infos-button{
		width: 100%;
		margin-top: 140px;
		display: flex;
		flex-direction: row-reverse;
	}
	#boutton{
		background-color: #051959;
		color: #d4d4d4;
		font-size: 10px;
		padding: 4px;
		margin-right: 3%;
		border: 1px solid transparent;
	}


	/* POUR LA MODIFICATION DE LA QUNATITE (FORMULAIRE) */
	
	/* FIN */
	.div-infos{
		background-color: green;
	}

	.single_product_pics{
		margin-top: -75px;
	}
	#cadre-1{
		margin-top: 25px;
		border-bottom: 1.5px solid #d4d4d4;
	}
	#cadre-2{
		margin-top: 25px;
		border-bottom: 1.5px solid #d4d4d4;
	}
	.panier-vide{
		width: 100%;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.h3{
		font-size: 12px;
	}
	.single_product_container
	{
		margin-top: 0vh;
		padding-bottom: 80px;
		margin-bottom: 5px;
		border-bottom: solid 1px #ebebeb;
	}
	.single_product_image
	{
		width: 100%;
		height: 150px;
	}
	.image-principale{
		width: 100%;
		height: 100%;
	}
	.single_product_thumbnails ul li
	{
		height: 57px;
		width: 25%;
		cursor: pointer;
	}
	.single_product_thumbnails ul li::after
	{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: solid 0px #1315b9;
		content: '';
		visibility: hidden;
	}
	.single_product_thumbnails ul li img
	{
		width: 100%;
		height: 100%;
	}
	.product_details
	{
		width: 100%;
		margin-top: 15px;
		margin-bottom: 100px;
	}
	.product_details_title
	{
		font-weight: 500px;
		line-height: 30px;
	}
	.product_details_title p
	{
		font-size: 14px;
		margin-top: 0px;
		text-align: center;
	}
	.h2{
		text-transform: uppercase;
		font-family: sans-serif;
		text-align: center;
		font-size: 17px;
		margin-bottom: 5px;
	}
	.free_delivery
	{
		background: #1315b9;
		color: #fff;
		margin-top: 17px;
		font-size: 14px;
	}
	.free_delivery i
	{
		display: inline-block;
	}
	.free_delivery span:last-child
	{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		font-size: 13px;
		text-transform: uppercase;
	}
	.free_delivery span:first-child
	{
		display: inline-block;
		margin-right: 19px;
		font-size: 13px;
		-webkit-transform: translateY(-1px);
		-moz-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		-o-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	.original_price
	{
		font-weight: 500;
		color: #000;
		text-decoration: line-through;
		line-height: 30px;
		margin-top: 0px;
	}
	.product_price
	{
		display: inline-block;
		font-size: 20px;
		text-align: center;
		color: #1315b9;
		font-weight: 500;
		line-height: 30px;
		margin-top: 2px;
	}

	/* DIV INFOS */
	.div-infos-commande{
		width: 80%;
		margin-left: 10%;
		margin-top: -50px;
	}
	.h2-info{
		font-family: sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
	}
	.infod-liv{
		display: flex;
		flex-direction: row;
	}
	.infos-liv-1{
		width: 70%;
		margin-left: 15%;
		font-size: 11px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infos-liv-2{
		width: 100%;
	}
	.div-input{
		text-transform: lowercase;
		width: 100%;
		font-size: 10px;
		padding: 3px;
		margin-top: 2px;
		display: flex;
		flex-direction: column;
	}
	.input-form{
		background-color: #fff;
		color: #000;
		font-size: 10px;
		padding: 3px;
		width: 100%;
		border: 1px solid transparent;
		border-bottom: 1px solid #d4d4d4;
	}
	.infos-1{
		width: 30%;
		height: 100%;
		font-size: 11.5px;
		font-family: sans-serif;
	}
	.commentaire{
		width: 100%;
		height: 100px;
	}
	.text{
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		font-size: 11px;
		padding: 3%;
		border-radius: 7px;
		border: 1px solid #d4d4d4;
		color: #000;
	}
	.infos-button{
		width: 100%;
		margin-top: 10px;
		display: flex;
		flex-direction: row-reverse;
	}


	.div-infos{
		background-color: transparent;
		position: relative;
		width: 100%;
		padding-top: 10px;
	}
	.infos{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.infos-boutton{
		width: 100%;
		height: 30px;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.infos-1, .infos-comment-1{
		color: #000;
		width: 60%;
		height: 100%;
		font-family: sans-serif;
	}
	.infos-2{
		color: #000;
		width: 40%;
		height: 100%;
	}
	.p-prix{
		color: #000;
		float: right;
		font-family: sans-serif;
	}
	input{
		color: #000;
		font-size: 8px;
	}
	.com{
		font-size: 10px;
	}
	.btn{
		font-size: 9px;
		color: #fff;
		border: 1px solid #1315b9;
		background-color: #1315b9;
	}
	#input{
		width: 100%;
		font-size: 9px;
		padding: 5px;
		height: 80%;
		border: 0.5px solid rgb(185, 179, 167);
	}
	.date_heure{
		font-size: 10px;
		width: 55%;
		padding: 2px;
		height: 80%;
		border: 0.5px solid rgb(185, 179, 167);
	}
	#heure_livraison{
		width: 100%;
		font-size: 10px;
		height: 80%;
		padding: 5px;
	}
	.input{
		width: 100%;
		height: 80%;
		margin-top: -10px;
	}
	.comment{
		width: 100%;
		margin-top: 7px;
		display: flex;
		flex-direction: row;
	}
	.infos-comment-1{
		width: 30%;
	}
	.infos-comment-2{
		width: 70%;
	}
	textarea{
		height: 100px;
		max-height: 100px;
		min-height: 100px;
	}
	.div-buttun{
		background-color: transparent;
		width: 100%;
		height: 60px;
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.boutton{
		font-size: 5px;
	}
	.id_article{
		display: none;
	}





	.tete{
		display: none;
	}
	.breadcrumbs
	{
		width: 100%;
		height: 60px;
		border-bottom: solid 1px #ebebeb;
		margin-bottom: 79px;
	}
	.breadcrumbs ul li
	{
		display: none;
	}
	.breadcrumbs ul li.active a
	{
		color: #b9b4c7;
	}
	.breadcrumbs ul li i
	{
		margin-right: 17px;
	}
	.breadcrumbs ul li a
	{
		color: #51545f;
	}

	h2{
		font-size: 30px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
	.newsletter_form
	{
		margin-top: 22px;
	}
	.newsletter_text h4
	{
		font-size: 20px;
	}
	.newsletter_text p
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.newsletter_submit_btn
	{
		font-size: 12px;
	}
	#newsletter_email
	{
		height: 40px;
		width: 100%;
		padding-left: 15px;
	}
	.newsletter_submit_btn
	{
		height: 36px;
		width: 130px;
	}
	#newsletter_email::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	#newsletter_email:-moz-placeholder /* older Firefox*/
	{
		font-size: 12px !important;
	}
	#newsletter_email::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 12px !important;
	} 
	#newsletter_email:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	#newsletter_email::input-placeholder
	{
		font-size: 12px !important;
	}
	.review_submit_btn,
	.add_to_cart_button
	{
		font-size: 12px;
		width: 130px;
		height: 36px;
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}


/*
@media only screen and (max-width: 305px)
{
	.product_details
	{
		width: 100%;
		margin-top: -175px;
	}
	.image-3{
		display: none;
	}
	.free_delivery
	{
		background: #1315b9;
		color: #fff;
		margin-top: 17px;
		font-size: 14px;
	}
	.free_delivery i
	{
		display: inline-block;
	}
	.free_delivery span:last-child
	{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		font-size: 9px;
		text-transform: uppercase;
	}
	.free_delivery span:first-child
	{
		display: inline-block;
		margin-right: 19px;
		font-size: 10px;
		-webkit-transform: translateY(-1px);
		-moz-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		-o-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	#input{
		color: #000;
		width: 100%;
		font-size: 10px;
		padding: 4px;
		height: 80%;
		border: 0.5px solid rgb(185, 179, 167);
	}
}*/