@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE



[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Currency
	3.2 Language
	3.3 Account
	3.4 Main Navigation
	3.5 Hamburger Menu
	3.6 Logo
4. Breadcrumbs
5. Single Product Section
6. Product Details
7. Tabs
	7.1 Description
	7.2. Additional Info
	7.3 Reviews
8. Add Review
9. Benefit
10. Newsletter
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

/*********************************
2. Body and some general stuff
*********************************/

.panier-vide{
	font-size: 13px;
	width: 100%;
	height: 100vh;
	margin-top: -150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.panier-vide h2{
	font-size: 14px;
}
.image-principale{
	width: 100%;
	height: 100%;
}
.btn-ajout{
	background-color: #1315b9;
	color: #fff;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	float: right;
}
#infos-2{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}
#cadre-1{
	margin-top: 25px;
	border-bottom: 1.5px solid #d4d4d4;
}
#cadre-2{
	margin-top: 25px;
	border-bottom: 1.5px solid #d4d4d4;
}
.h3{
	display: none;
}


/* DIV INFOS */
.div-infos_commande{
	width: 80%;
	margin-left: 10%;
	margin-top: 25px;
}
.h2{
	font-size: 25px;
	text-align: center;
	margin-bottom: 25px;
}
.infos-1, .infos-comment-1{
	width: 30%;
	height: 100%;
	font-size: 15px;
	font-family: sans-serif;
}
#commentaire{
	max-width: 100%;
	max-height: 105px;
	min-width: 100%;
	min-height: 105px;
}
.infos-button{
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
}


.div-infos{
	background-color: transparent;
	position: relative;
	width: 100%;
	padding-top: 10px;
}
.infos{
	width: 100%;
	height: 35px;
	margin-top: 7px;
	display: flex;
	flex-direction: row;
}
.infos-1, .infos-comment-1{
	width: 30%;
	height: 100%;
	font-family: sans-serif;
}
.infos-2{
	width: 70%;
	height: 100%;
}
.p-prix{
	color: #000;
	float: right;
	font-family: sans-serif;
}
.infos-boutton{
	width: 100%;
	height: 30px;
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
input{
	color: #000;
}
.btn{
	color: #fff;
	background-color: #1315b9;
}
.input{
	width: 100%;
	height: 35px;
	border: 0.5px solid rgb(185, 179, 167);
}
.date_heure{
	width: 45%;
	height: 100%;
	border: 0.5px solid rgb(185, 179, 167);
}
.div-buttun{
	background-color: transparent;
	width: 100%;
	height: 60px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.id_article{
	display: none;
}





/*********************************
5. Single Product Section
*********************************/

.single_product_container
{
	margin-top: 150px;
	min-height: 75vh;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
.single_product_thumbnails
{
	height: 527px;
}
.single_product_thumbnails ul li
{
	position: relative;
	height: 136px;
	margin-bottom: 30px;
	cursor: pointer;
}
.single_product_thumbnails ul li::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 0px #1315b9;
	content: '';
	visibility: hidden;
}
.single_product_thumbnails ul li.active::after,
.single_product_thumbnails ul li:hover::after
{
	visibility: visible;
}
.single_product_thumbnails ul li img
{
	width: 100%;
	height: 100%;
}
.image_col
{
	padding-right: 30px;
}
.single_product_image
{
	width: 100%;
	height: 475px;
}
.single_product_image_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*********************************
6. Product Details
*********************************/

.product_details
{
	width: 100%;
	margin-top: 0px;
}
.product_details_title
{
	font-weight: 500px;
	line-height: 30px;
}
.product_details_title p
{
	margin-top: 12px;
	text-align: center;
}
h2{
	text-align: center;
}
.free_delivery
{
	background: #1315b9;
	color: #fff;
	margin-top: 20px;
}
.free_delivery i
{
	display: inline-block;
}
.free_delivery span:last-child
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}
.free_delivery span:first-child
{
	display: inline-block;
	margin-right: 19px;
	font-size: 16px;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
.original_price
{
	font-weight: 500;
	color: #000;
	text-decoration: line-through;
	line-height: 30px;
	margin-top: 0px;
}
.product_price
{
	display: inline-block;
	font-size: 24px;
	text-align: center;
	color: #1315b9;
	font-weight: 500;
	line-height: 30px;
	margin-top: 2px;
}
.star_rating
{
	display: inline-block;
	margin-left: 33px;
}
.star_rating li
{
	display: inline-block;
	margin-right: -2px;
	cursor: pointer;
}
.star_rating li i
{
	color: #fac451;
}
.product_color
{
	margin-top: 27px;
}
.product_color ul
{
	display: inline-block;
	margin-left: 26px;
}
.product_color ul li
{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 29px;
	cursor: pointer;
}
.quantity
{
	width: 100%;
	height: 40px;
	margin-top: 23px;
}
.quantity_selector
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 132px;
	height: 100%;
	border: solid 1px #e5e5e5;
	margin-left: 29px;
}
.quantity_selector span
{
	font-weight: 500;
	color: #232530;
}
.plus,
.minus
{
	padding-left: 14px;
	padding-right: 14px;
	cursor: pointer;
}
.plus:hover,
.minus:hover
{
	color: #b5aec4;
}
.add_to_cart_button
{
	width: 160px;
	margin-left: 19px;
	font-size: 12px !important;
}
.product_favorite
{
	width: 40px;
	height: 100%;
	margin-left: 22px;
	border: solid 1px #e5e5e5;
	border-radius: 2px;
	cursor: pointer;
}
.product_favorite:hover::after
{
	color: #fe4c50;
}
.product_favorite::after
{
	font-family: 'FontAwesome';
	content:'\f08a';
	font-size: 14px;
}
.product_favorite.active::after
{
	content:'\f004';
	color: #fe4c50;
}


/* END DIV INFOS */

/*********************************
7. Tabs
*********************************/

.tabs_section_container
{
	width: 100%;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
.tabs_container
{
	margin-top: 66px;
	margin-bottom: 66px;
}
.tabs
{

}
.tab
{
	margin-right: 50px;
	cursor: pointer;
}
.tab:last-child
{
	margin-right: 0px;
}
.tab span
{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	color: #1e1e27;
}
.tab:hover span
{
	color: #b5aec4;
}
.tab.active span
{
	color: #fe4c50;
	border-bottom: solid 1px #fe4c50;
}
.tab_container
{
	width: 100%;
	display: none;
}
.tab_container.active
{
	display: block;
}

/*********************************
7.1 Description
*********************************/

.desc_col
{

}
.tab_title
{
	margin-bottom: 98px;
}
.tab_title h4
{
	display: inline-block;
	color: #fe4c50;
	border-bottom: solid 1px #fe4c50;
}
.tab_text_block
{
	margin-bottom: 133px;
}
.tab_text_block p
{
	font-weight: 400;
	margin-top: 10px;
}
.tab_image
{
	width: 100%;
	margin-bottom: 131px;
}
.tab_image img
{
	width: 100%;
}
.desc_last
{
	margin-bottom: 0px;
}

/*********************************
7.2. Additional Info
*********************************/

.additional_info_col p span
{
	margin-left: 22px;
}
.additional_info_title
{
	margin-bottom: 48px;
}

/*********************************
7.3 Reviews
*********************************/

.reviews_title
{
	margin-bottom: 58px;
}
.user_review_container
{
	width: 100%;
	margin-bottom: 37px;
}
.reviews_col
{
	padding-right: 30px;
}
.user_pic
{
	width: 70px;
	height: 70px;
	background: #ebebeb;
	border-radius: 50%;
}
.user_rating .star_rating
{
	margin-left: 5px;
	margin-top: 13px;
}
.user_rating .star_rating li
{
	margin-right: -3px;
}
.user_rating .star_rating li i
{
	font-size: 12px;
}
.review
{
	padding-left: 30px;
}
.review_date
{
	color: #fe4c50;
	margin-top: -4px;
}
.user_name
{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 18px;
}
.review p
{
	font-weight: 400;
}

/*********************************
8. Add Review
*********************************/

.add_review
{
	margin-top: 94px;
}
#review_form > div
{
	margin-bottom: 40px;
}
#review_form div:nth-child(2) h1
{
	display: inline-block;
}
#review_form div:nth-child(2)
{
	margin-bottom: 20px;
}
#review_form > div:last-child
{
	margin-bottom: 0px;
}
.add_review h1
{
	font-size: 18px;
	font-weight: 500;
}
.form_input
{
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
}
.input_name
{
	margin-bottom: 19px;
	margin-top: 31px;
}
.input_review
{
	display: block;
	width: 100%;
	border: solid 1px #e5e5e5;
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 13px;
}
.user_star_rating
{
	display: inline-block;
	margin-left: 18px;
}
.user_star_rating li
{
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}
.user_star_rating li i
{
	color: #f5c136;
	font-size: 18px;
}
.review_submit_btn
{
	width: 170px;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

/*********************************
9. Benefit
*********************************/

.benefit
{
	margin-top: 74px;
}
.benefit_row
{
	padding-left: 15px;
	padding-right: 15px;
}
.benefit_col
{
	padding-left: 0px;
	padding-right: 0px;
}
.benefit_item
{
	height: 100px;
	background: #f3f3f3;
	border-right: solid 1px #FFFFFF;
	padding-left: 25px;
}
.benefit_col:last-child .benefit_item
{
	border-right: none;
}
.benefit_icon i
{
	font-size: 30px;
	color: #fe4c50;
}
.benefit_content
{
	padding-left: 22px;
}
.benefit_content h6
{
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 0px;
}
.benefit_content p
{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0px;
	color: #51545f;
}

/*********************************
10. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #f2f2f2;
	margin-top: 81px;
}
.newsletter_text
{
	height: 120px;
}
.newsletter_text h4
{
	margin-bottom: 0px;
	line-height: 24px;
}
.newsletter_text p
{
	margin-bottom: 0px;
	line-height: 1.7;
	color: #51545f;
}
.newsletter_form
{
	height: 120px;
}
#newsletter_email
{
	width: 300px;
	height: 46px;
	background: #FFFFFF;
	border: none;
	padding-left: 20px;
}
#newsletter_email:focus
{
	border: solid 1px #7f7f7f !important;
	box-shadow: none !important;
}
:focus
{
	outline: none !important;
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.newsletter_submit_btn
{
	width: 160px;
	height: 46px;
	border: none;
	background: #fe4c50;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:hover
{
	background: #FE7C7F;
}




/*********************************
11. Footer
*********************************/
/***** contact form *****/
.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.article-1{
	background-color: gray;
	width: 60%;
}
.article-2{
	background-color: blueviolet;k
	width: 100%;
}

#contact-form {
	width:80%px;
	margin-left: 10%;
}
#contact-form label {
	display:block; 
	height:44px;
}
#contact-form input {
	background-color: #1315b9;
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:8px 15px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #fff; 
	background:url(../images/input-tail.gif) 0 0 repeat-x #e6e6e6;
	outline:none;
}
#contact-form textarea {
	height:158px; 
	overflow:auto; 
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:7px 15px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #fff; 
	background:url(../images/text-area-tail.gif) 0 0 repeat-x #e5e5e5;
	outline:none;
}
.buttons {
	width: 95%;
	padding-top:17px;
	text-align:right;
}
.buttons a {
	color: #d4d4d4;
	margin-left:30px;
	background-color: #1315b9;
	padding: 10px;
	border-radius: 15px;
}

#contact-form2 {
	display:block;
	width:580px;
}
#contact-form2 label {
	display:block; 
	height:30px; 
	overflow:hidden;
}
#contact-form2 input {
	float:left; 
	width:485px; 
	font-size:12px; 
	line-height:1.25em;
	color:#333;
	padding:3px 10px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:none; 
	background:#fff;
	outline:none;
}
#contact-form2 textarea {
	float:left;
	height:240px; 
	width:485px; 
	font-size:12px; 
	line-height:1.25em;
	color:#333;
	padding:3px 10px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	border:none; 
	background:#fff;
	overflow:auto;
	outline:none;
}
.text-form {
	float:left; 
	display:block; 
	font-size:13px;
	line-height:24px;
	width:74px; 
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
}

.buttons2 {padding:10px 10px 0 0; text-align:right}
.buttons2 a {margin-left:35px}
		
/****************************footer************************/
footer {
	width:80%;
	margin-left: 10%; 
	height:395px;
	color:#999;
	margin-bottom: 30px;
	position:relative;
	z-index:9;
	overflow:hidden;
}
footer .padding {padding:35px 0 0}
footer h4 {
	color: #000;
	margin-bottom:18px;
	text-align: center;
}
	.list-services li {
		background-color: teal;
		font-size:12px;
		line-height:35px;
		text-transform:uppercase;
		padding-bottom:9px;
	}
	.list-services a {
		display:inline-block;
		text-decoration:none;
		color:#999;
		padding-left:54px;
		background:url(../images/social-icons.png) 0 0px no-repeat;
	}
	.list-services a.item-1 {background-position:0 -44px}
	.list-services a.item-2 {background-position:0 -88px}
	.list-services a.item-3 {background-position:0 -132px}
	
/*********extra***********/
.block {height:395px}
.extra {
	min-height:100%; 
	height:auto !important; 
	height:100%; 
	margin: 0 auto -395px; 
	position:relative;
	overflow:hidden;
} 
html, body {height:100%}