.div-profil{
	margin-top: 25vh;
	width: 80%;
	margin-left: 10%;
}
.form-password{
	width: 50%;
	margin-left: 25%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
h1{
	font-size: 25px;
	text-align: center;
}