.div-facture{
	width: 80%;
	margin-top: 25vh;
	margin-left: 10%;
}
.id{
	display: none;
}
.div-tete{
	display: flex;
	flex-direction: row-reverse;
}
h3{
	font-family: sans-serif;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
th{
	background-color: #1315b9;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#numero{
	width: 50px;
}
#prix{
	background-color: #1315b9;
	width: 150px;
}
tr{
	text-align: center;
}